header {
  display: inline-block;
  width: 100%;
}
a {
  text-decoration: none;
}
  
nav {
  font-family: monospace;
}
  
nav ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
  
nav li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
    
nav li a {
  color: #fff;
}
  
nav li:hover {
  background: red;
  cursor: pointer;
}
  
nav ul li ul.dropdown {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li ul.dropdown ul {
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
}
nav ul li ul.dropdown li:hover > ul {
  display: block;
}
  
nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
  
nav ul li ul li {
  clear: both;
  width: 100%;
  white-space: nowrap;
}

.content {
  display: block;
}
.items {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.products-grid .product-item:nth-child(4n + 1) {
  margin-left: 0;
}
.products-grid .product-item {
  display: inline-block;
  margin-left: calc((100% - 4 * 24.439%) / 3);
  padding: 5px;
  width: 24.439%;
}
.product-image img {
  width: 100%;
}